* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: "M PLUS 1p", sans-serif;
  color: #ffffff;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px 150px;
}
.header__logo {
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.header__contact-title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 70px;
}
.header__contact-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
}
.header__contact-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
}

.header__contact-mail:hover,
.header__contact-tel:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  margin-bottom: 20px;
}
.nav__item {
  flex: 1;
  display: block;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #ffffff;
}
.nav__item:hover {
  text-decoration: underline;
}
.nav-item-1 {
  background: #b08fb5;
}
.nav-item-2 {
  background: #6973cf;
}
.nav-item-3 {
  background: #143763;
}
.nav-item-4 {
  background: #5132ab;
}

.content {
  margin-top: 70px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 561px;
}
.sidebar__item {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 172px;
  color: #ffffff;
  transition: all 0.25s;
  background: #163294;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
}
.sidebar__item:hover {
  text-decoration: underline;
  background: #23aac1;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 56px;
}
.content__main {
  width: 1315px;
}
.content__img {
  width: 100%;
  height: 654px;
}
.contant__img-pict {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
.content__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  margin-bottom: 50px;
  margin-top: 40px;
}
.content__row-item {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex: 1;
  padding: 20px;
  text-align: center;
}
.bg-c-1 {
  background: #28aa78;
  height: 192px;
}
.bg-c-2 {
  background: #cab000;
  height: 192px;
}
.bg-c-3,
.bg-c-4,
.bg-c-5 {
  height: 469px;
}
.bg-c-3 {
  background-color: #5aa518;
}
.bg-c-4 {
  background-color: #5132ab;
}
.bg-c-5 {
  background-color: #d24725;
}
.content__sub {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}

.footer {
  margin-top: 50px;
  width: 100%;
  position: relative;
  height: 140px;
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer > img {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}
.footer__span {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.contacts {
  width: 100%;
  display: flex;
}
.form {
  flex: 1;
  background: #6973cf;
  padding: 62px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}
.form__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding-bottom: 78px;
  color: #ffffff;
}
.form__input {
  background-color: transparent;
  margin-bottom: 40px;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 8px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  outline: none;
}
.form__input::placeholder {
  color: #fff;
}
.form__btn {
  padding: 36px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  cursor: pointer;
  background: #5132ab;
  border: none;
}
.contact__right {
  flex: 1;
  background: #143763;
  padding: 62px 20px 20px 20px;
}
.contact__title {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  padding-bottom: 30px;
}
.contact__email {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.vacancy__welcome {
  background-image: url(./../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 940px;
  padding: 20px 40px;
}
.vacancy__head {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
  margin-bottom: 44px;
}
.vacancy__p {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  max-width: 640px;
}

.vacancy__list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
.vacancy__item {
  display: flex;
  width: 49%;
  height: 220px;
}
.vac-1 {
  background: #28aa78;
}
.vac-2 {
  background: #d24725;
}
.vac-3 {
  background: #5132ab;
}
.vac-4 {
  background: #5aa518;
}
.vacancy__info {
  flex: 3;
  padding: 22px 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.vacancy__title {
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #d9d9d9;
}
.vacancy__desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  max-width: 70%;
}
.vacancy__next {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.vacancy__img {
  flex: 4;
}
.vacancy__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
